colorama==0.4.6 ; python_version >= "3.9" and sys_platform == "win32"
exceptiongroup==1.2.0 ; python_version < "3.11" and python_version >= "3.9"
iniconfig==2.0.0 ; python_version >= "3.9"
numpy==1.26.4 ; python_version >= "3.9"
packaging==23.2 ; python_version >= "3.9"
pandas==2.2.1 ; python_version >= "3.9"
pluggy==1.4.0 ; python_version >= "3.9"
pytest==8.0.2 ; python_version >= "3.9"
python-dateutil==2.8.2 ; python_version >= "3.9"
pytz==2024.1 ; python_version >= "3.9"
scipy==1.12.0 ; python_version >= "3.9"
shapely==2.0.3 ; python_version >= "3.9"
six==1.16.0 ; python_version >= "3.9"
tomli==2.0.1 ; python_version < "3.11" and python_version >= "3.9"
tzdata==2024.1 ; python_version >= "3.9"
xarray==2024.2.0 ; python_version >= "3.9"
