Package                Version  Editable project location
---------------------- -------- --------------------------------------------------------------
argcomplete            3.1.4
certifi                2024.2.2
cftime                 1.6.3
click                  8.1.7
cloudpickle            3.0.0
contourpy              1.2.0
cycler                 0.12.1
dask                   2024.2.0
fonttools              4.49.0
fsspec                 2024.2.0
importlib-metadata     7.0.1
iniconfig              2.0.0
kiwisolver             1.4.5
locket                 1.0.0
matplotlib             3.8.3
netCDF4                1.6.5
numpy                  1.26.4
packaging              23.2
pandas                 2.2.0
partd                  1.4.1
pillow                 10.2.0
pip                    24.0
pipx                   1.2.1
pluggy                 1.4.0
pyparsing              3.1.1
pytest                 8.0.1
python-dateutil        2.8.2
pytz                   2024.1
PyYAML                 6.0.1
setuptools             69.1.0
six                    1.16.0
toolz                  0.12.1
tzdata                 2024.1
userpath               1.9.1
wheel                  0.42.0
xarray                 2024.2.0
xarray-selafin-backend 0.1.0    /home/tomsail/work/python/seareport_org/xarray_selafin_backend
zipp                   3.17.0
